.contact-header {
    text-align: center;
    margin: 35px 0px;
    padding: 10px;
    background-color: #936319;
    color: #f7e8cb;
}

ul {
    list-style-type: square;
    padding-left: 0px;
}

.contact-link {
    margin: 10px 0px;
}

.contact-link a {
    text-decoration: none;
}

.contact-link a:hover,
.contact-link a:focus,
.contact-link a:visited {
    color: black;
}